extends layout

block append scripts
  script(src='https://cdn.firebase.com/js/client/1.0.11/firebase.js')
  script(src='/javascripts/chat.js')

block content

  div#body
   h1= title
   p Welcome to #{title}!
   div#messagesDiv
   
   input#nameInput(type='text', placeholder='Name')
   input#messageInput(type='text', placeholder='Message...')


   